.pricing-bubble {
  border: 2px solid #d3d3d3;
  border-radius: 1rem;
}
.pricing-bubble:hover {
  border: 2px solid rgba(2, 119, 189, .5);
  cursor: pointer;
}
.pricing-bubble--active {
  border: 2px solid #0277BD;
}

.pricing-bubble__title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #0277BD;
}

.pricing-bubble__features {
  list-style: none;
  padding: 0 1rem 2.5rem 1rem;
}

.pricing-bubble__features__item {
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0;
  border-top: 1px solid #d3d3d3;
  color: #0277BD  
}
.pricing-bubble__features__item:last-child {
  border-bottom: 1px solid #d3d3d3;
}

.pricing-bubble__price {
  border: 1px solid #d3d3d3;  
  border-radius: 1rem;
  padding: 2rem 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin: 0 1rem 1rem 1rem;
  color: #0277BD;
}

.pricing-bubble--active .pricing-bubble__price {
  background: #0277BD;
  color: #fff;
}