.question {
  margin: 0 0 5rem 0;
  border-bottom: 1px solid #000;
  position: relative;
}

.question__close {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  font-size: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0 0 0 5%;
  text-align: center;
}
.question__close:hover {
  color: #EF5350;
}

.question__text {
  width: 90%;
}

.question__title {
  font-size: 2rem;
  margin: 0 1rem .5rem 0;
  cursor: pointer;
}
.question__title:hover {
  color: #0277BD;
}

.question__meta {
  margin: 0 0 1.5rem 0;
  font-size: 1rem;
}
.question__meta__answers-count {
  display: inline-block;
  margin-right: 1rem;
}

.question__meta__answers-count__number {
  color: #0277BD;
}

.question__answer-list {
    margin: 0 0 3rem 0;
}

.question__new-answer {
  margin: 0 0 1.5rem;
} 

.question__new-answer__button {
  border: none;
  color: #0277BD;
}
.question__new-answer__button:hover {
  color: #000;
}

.question__new-answer__title {
  margin: 0 0 1rem 0;
  color: #000;
  font-size: 1.2rem;
}

.question__new-answer__textarea {
  width: 50%;
  height: 5rem;
  display: block;
  font-size: 1.2rem;
  font-family: 'RobotoSlab', serif;
  color: #000;
  margin: 0 0 1rem 0;
}