.channel {
  margin: 10rem auto;
  width: 90%;
  max-width: 980px;
}

.channel__top-bar {
  margin: 0 0 1.5rem 0;
}

.channel__top-bar__title {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.channel__top-bar__id,
.channel__top-bar__live-toggle-label {
  display: inline-block;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.channel__top-bar__id {
  margin: 0 1rem 0 0;
}

.channel__top-bar__live-toggle,
.channel__create-or-join-new,
.channel__new-question__button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: 2px solid #EF5350;
  color: #EF5350;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.channel__top-bar__live-toggle{
  margin: 0 1rem 0 0;
}
.channel__top-bar__live-toggle:hover {
  color: #fff;
  background: #EF5350;
}

.channel__top-bar__live-toggle--active {
  border: 2px solid #66BB6A;
  color: #66BB6A;
}
.channel__top-bar__live-toggle--active:hover {
  color: #fff;
  background: #66BB6A;
}

.channel__create-or-join-new {
  border: 2px solid #0277BD;
  color: #0277BD;
  text-decoration: none;
}
.channel__create-or-join-new:hover {
  color: #fff;
  background: #0277BD;
}

.channel__new-question__button {
  background: none;
  padding: 0;
  border: 2px solid #0277BD;
  color: #0277BD;
  margin: 0 1rem 0 0;
}
.channel__new-question__button:hover {
  color: #fff;
  background: #0277BD;
}
.channel__new-question__button:focus {
  outline: 0;
}

.channel__new-question {
  margin: 0 0 3rem 0;
}

.channel__new-question__error {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #0277BD;
}

.channel__new-question__textarea {
  height: 10rem;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: 'RobotoSlab', serif;
  color: #000;
  width: 100%;
  width: calc(100% - 2rem);
  display: block;
}
.channel__new-question__textarea:focus {
  outline: none;
} 

.channel__question-list {
  padding: 3rem;
  border: 1px solid #000;
  border-radius: 1rem;
  color: #000;
  background: #fff;
  list-style: none;
}
.channel__question-list > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}


.channel__no-questions {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000;
}


