html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #fff;
}

h2 {
  font-size: 3rem;
  margin: 0 0 3rem 0;
  font-family: 'Roboto', sans-serif;
  color: #0277BD;
  font-weight: bold;
}

button {
  font-size: 1.2rem;
  background: #fff;  
  color: #000;
  border: 1px solid #000;
  padding: .5rem 1rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
button:hover {
  color: #0277BD;
}
button:focus {
  outline: none;
}

/* DOWNLOAD THEse and bundle them */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);