.pages {
   
}

.pages__nav {
  position: absolute;
  top: 0;
  left: 5rem;
  width: 5rem;
  margin: 10rem 0;
  z-index: 10;
}

.pages__content {
  position: absolute;
  top: 0;
  left: 10rem;
  right: 0;
  margin: 10rem 0 10rem 0;
}

.pages-fieldset {
  position: relative;
  margin: 0;
  padding: 0 15rem 0 5rem;
  vertical-align: middle;
  border: none;
}

.pages-fieldset__form__input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #d3d3d3; 
  font-size: 1.2rem;
  margin: 0 auto 1rem auto;
  font-family: 'RobotoSlab', serif;
}
.pages-fieldset__form__input:focus {
  border-bottom: 1px solid #0277BD;
}

.pages-fieldset__form__button {
  display: block;
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  margin: 0 auto 1rem auto;
  border: 2px solid #0277BD;
  border-radius: 50%;
  color: #0277BD;
  background: none;
  outline: none;
}
.pages-fieldset__form__button:hover {
  color: #fff;
  background: #0277BD;
}

.pages-fieldset__form__error-notification {
  margin: 0 0 5rem 0;
  text-align: center;
  color: #C62828;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

