.login-channel-wrapper {
  height: 100%;
  width: 100%;
}

.login-channel-wrapper:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.login-channel {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin: 10rem 0;
  vertical-align: middle;
}

.login-channel__title {
  margin-bottom: 10rem;
}

.login-channel__form-input {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #616161;
  padding: .5rem 0;
  width: 100%;
  font-family: 'RobotoSlab', serif;
}
.login-channel__form-input:focus {
  outline: none;
  border-bottom: 2px solid #0277BD;
}

.login-channel__form-button {
  display: inline-block;
  margin: 0 0 1rem 0;
}

.login-channel__form-button--create {
  margin-right: 1rem;
}

.login-channel__error-notification,
.login-channel__captcha-label {
  font-family: 'RobotoSlab', serif;
  text-align: center;
  margin: 0 0 1rem 0;
}

.login-channel__error-notification {
  color: #EF5350;
}

.login-channel__captcha-label {
  color: #0277BD;
}

.login-channel__spinner {
  text-align: center;
  animation: spinner 2s infinite; 
}

.g-recaptcha {
  margin: 0 0 1rem 0;
}


@keyframes spinner{
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }

}
