html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}







html.night-mode {
  background: #282a36;
  color: #fff;
}

.night-mode input, .night-mode textarea {
  color: #fff;
  background: #282a36;
}

.night-mode .pages-fieldset__top-buttons__button {
  background: #282a36;
  color: rgba(90, 247, 142, .5);
}
.night-mode .pages-fieldset__top-buttons__button:hover {
  color: #fff;
}

.night-mode .pages-fieldset__top-buttons__button--active {
  color: #5af78e;
}

.night-mode .nav-item__link {
  color: rgba(255, 255, 255, .5);
}
.night-mode .nav-item__link:hover {
  color: #5af78e;
}

.night-mode .nav-item__link--active {
  color: #fff;
}

.night-mode .pages-fieldset__form__button {
  color: #5af78e;
}
.night-mode .pages-fieldset__form__button:hover {
  color: #fff;
}

.night-mode .channel__new-question__button {
  color: #5af78e;
}
.night-mode .channel__new-question__button:hover {
  color: #fff;
}

.night-mode .nav-heading,
.night-mode .channel__top-bar__title,
.night-mode .channel__no-questions,
.night-mode .about__paragraph-title,
.night-mode .question__meta__answers-count__number {
  color: #5af78e;
}

.night-mode .question {
  border-bottom: 1px solid #fff;
}

.night-mode .nav-item__icon,
.night-mode .channel__top-bar__icon {
  fill: #fff;
}

.night-mode .nav-item__icon:hover,
.night-mode .channel__top-bar__icon:hover {
  fill: #5af78e;
}

.night-mode .question__title:hover {
  color: #5af78e;
}

.night-mode .question__new-answer__button {
  background: #282a36;
  color: #5af78e;
}
.night-mode .question__new-answer__button:hover {
  color: #fff;
}

.night-mode .pages-fieldset__form__input:focus {
  border-bottom: 1px solid #5af78e;
}









h2 {
  font-size: 3rem;
  margin: 0 0 3rem 0;
  font-family: 'Inconsolata', monospace;
  color: #0277BD;
  font-weight: bold;
}

button {
  font-size: 1.5rem;
  background: #fff;  
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
}
button:hover {
  color: #0277BD;
}
button:focus {
  outline: none;
}

/* DOWNLOAD THEse and bundle them */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);